@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #333333;
  --heading-color: #444444;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

* > * {
  font-family: "poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: var(--heading-color);
}
.mode-switch input:checked + .slider {
  background-color: #2196f3;
}

.mode-switch .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before {
  transform: translateX(20px);
}
